
/* general text styling and formatting */

h1{
    color: #777;
    font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 18px;
    line-height: 1.75;
    
}

p{
    color: #777;
    font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 18px;
}

p1{
    font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
    color: #777;
    font-size: 18px;
    line-height: 4;
    
}
p2{
    font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
    color: #777;
    font-size: 18px;
    line-height: 3;
    
}
body {
    color: #777;
    font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 18px;
}


/* boxes */

.headerbox {
    margin: auto;
    background-color: #ebebeb;
    width: 100%;
    padding: 30px;
    text-align: center;    
}
.navbox2 {
    margin: 0px;
    background-color:#777;
    width: 100%;
    padding: 5px;
    text-align: center;    
}
    
.navbox{
    margin: auto;
    background-color: #ebebeb;
    width: 100%;
    padding: 30px;
    text-align: center;    
}
    


#boxsection{
    margin-left:auto;
    float: left;
    background-color: #ebebeb;
    width: 55.5%; 
    padding: 10px;
    text-align: center; 
    
}
/* boxes within boxsection */

.ArticleContainer{
    margin: auto;
    background-color:#777;
    color: #ebebeb;
    width: 90%;
    padding: 25px;
    text-align: center; 
}


#ArticleContainer0{
    margin: auto;
    width: 250px;
    padding: 10px;
    text-align: center; 
}

#ArticleContainer1{
    margin: auto;
    width: 250px;
    padding: 10px;
    text-align: center; 
}

#ArticleContainer2{
    margin: auto;
    background-color: #ebebeb;
    width: 515px;
    padding: 1px;
    height: 50px;
    text-align: center; 
}


#ArticleContainer3{
    margin: auto;
    background-color: #ebebeb;
    width: 515px;
    padding: 1px;
    height: 50px;
    text-align: center; 
}
#ArticleContainer4{
    margin: auto;  
    width: 385px;
    padding: 1px;
    height: 10px;
    text-align: center; 
}


/* end box within box section */

#boxaside{
    margin-right: 1px;
    Float: right;
    background-color:#ebebeb;
    width: 36.5%;
    padding: 20px;
    text-align: center; 
    height: 260px;
}

/* wrappers and (probably) erroneously implemented clearfix */

.clearfix {
    overflow: auto;
}

#wrapperall {
    margin-left:auto;
    margin-right:auto;
    width:960px;
}

#wrap{
    margin: auto;
    width: 106.25%;
    height: 310px;
    text-align: center; 
}



/* Other notes
- Had to size boxes with percentages - couldnt get the pixel counts listed in the Assignement Dossier.  Used a wrap with a 960px width and scaled boxes to 100% instead. */